.largeImageContent {
    position: relative;
    width: 250px;
}
.smallImageContent {
    position: relative;
    width: 120px;
}
.image {
    position: relative;
}
.favImage {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.name {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 30px;
}