.content {
    display: flex;
    padding: 30px;
}

.menu {
    width: 30%;
}

.games {
    display: flex;
    width: 70%;
}

.big {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.small {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}